.setup_page
  - if current_client.phone.blank?
    = render :partial => "setup_nav", :locals => {:active_index => 1}
    = form_tag client_set_phone_path, :method => :patch do
      = text_field_tag "phone", ""
      = submit_tag "设置", :class => 'btn btn-success pull-left'
  
  - elsif current_client.phone.present? && !current_client.phone_verified?
    = render :partial => "setup_nav", :locals => {:active_index => 2}
    = form_tag client_sms_verify_path, :method => :patch do
      %p
        您的手机号码为： 
        = current_client.phone
      = text_field_tag "sms_code", "", :placeholder => "验证码"
      = submit_tag "验证", :class => 'btn btn-success pull-left'
      = link_to "重新发送...", "#", :class => "btn btn-default pull-left"
  
  - elsif !current_client.password_changed?
    = render :partial => "setup_nav", :locals => {:active_index => 3}
    = form_tag client_do_password_change_path, :method => :patch do
      = password_field_tag "password"
      = password_field_tag "password_confirmation"
      = submit_tag "设置", :class => 'btn btn-success'
  .clearfix
