.container-fluid
  .row-fluid
    .lb_form.col-md-10.col-md-offset-1.form

      .form_content
        = form_tag open_staff_lotteries_path do
          .form-group
            .input-group.col-md-12
              %h2 一定要填准确~, 看好开奖期数和号码， 英文逗号分隔， 出错不可恢复~
          .form-group
            .input-group.col-md-12
              = select_tag "open_num", options_for_select([Lottery.current_open_num, Lottery.next_open_num]), :class => "col-md-6"
          .form-group
            .input-group.col-md-12
              = text_field_tag "serial_num", "", :class => "col-md-6", :placeholder => "2,5,6,7,10,13,10"

          .form-group
            .input-group.col-md-12
              = submit_tag "开奖", :class => "btn btn-warning"


  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th ID
          %th 编号
          %th 开奖期
          %th 开奖日期
          %th 保安电话
          %th 停车场
          %th 红球
          %th 蓝色球
          %th 中奖金额
          %th 状态

        %tbody
          - @lotteries.each do |p|
            %tr
              %td= link_to p.id, edit_staff_lottery_path(p)
              %td= raw p.serial_num_human
              %td= p.open_num
              %td= p.open_at
              %td
                = p.phone
                (
                = p.user.try :nickname
                )
              %td= p.park.name
              %td= p.red_lucky_num_hits
              %td= p.blue_ball_hit ? 1 : 0
              %td= p.money_get
              %td= Lottery::STATUS_MAP[p.status.to_sym]
              
    = paginate @lotteries
