.container-fluid
  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      = link_to fa_icon("fw plus") + "新二维码", new_staff_qr_code_path(), :class => "btn btn-primary"
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th ID
          %th Scene
          %th 备注
          %th 二维码

        %tbody
          - @qr_codes.each do |p|
            %tr
              %td= link_to p.id, edit_staff_qr_code_path(p)
              %td= p.scene_str
              %td= p.mark
              %td= link_to(image_tag(p.qr_code.thumb.url, :height => 220, :width => 220))
              %td
                = link_to "删除", staff_qr_code_path(@qr_code), :method => :delete, :data => { :confirm => "确定要删除？" }, :class => "btn btn-warning"


      = paginate @qr_codes


