.container-fluid
  .row-fluid
    .lb_form.col-md-10.col-md-offset-1.form
      .form_content
        .form-group
          .input-group.col-md-12
            %input.typeahead.col-md-6{:placeholder => "例如: 远洋光华国际"}
        .form-group
          - DISTRICT.each do |name|
            = link_to name , staff_parks_path(:district => name)

        .form-group
          - Park::PARK_TYPE.each do |code|
            = link_to code , staff_parks_path(:park_type => code)

        .form-group
          - Park::PARK_TYPE_CODE.each do |code|
            = link_to code , staff_parks_path(:park_type_code => code)

  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th ID
          %th 卡券
          %th 编号
          %th 状态
          %th 二维码

        %tbody
          - @coupons.each do |p|
            %tr
              %td= link_to p.id, edit_staff_coupon_path(p)
              %td= link_to p.coupon_tpl.identifier, edit_staff_coupon_tpl_path(p.coupon_tpl)
              %td= p.identifier
              %td= p.status
              %td
                = image_tag p.qr_code.thumb.url, :height => 30, :width => 30

      = paginate @coupons

