.client_brand
  = image_tag "logo_png.png"
  萝卜停车
.list-group
  .list-group-item.clients
    = link_to raw(fa_icon("fw bank")) + "我的面板", client_path
    - current_client.plugins.active.each do |p|
      .list-group-item{:class => p.identifier }
        = link_to raw(fa_icon("fw #{p.fa_icon}")) + p.name, p.entry_url

:javascript
  $(".#{@active_nav_item || 'abc'}").addClass("sidebar_item_active")
