%hr

.list-group.pull-right.col-md-3
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right.col-md-3
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right.col-md-3
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right.col-md-3
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
