.list-group.pull-right
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
.list-group.pull-right
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
  = link_to "关于我们", "/", :class => "list-group-item"
