.list-group
  .list-group-item.staff
    = link_to raw(fa_icon("fw bank")) + "我的面板", staff_path
  .list-group-item.parks
    = link_to raw(fa_icon("fw building-o")) + "车场列表", staff_parks_path
  .list-group-item.imports
    = link_to raw(fa_icon("fw database")) + "数据导入", staff_imports_path
  .list-group-item.vendors
    = link_to raw(fa_icon("fw users")) + "保安管理", staff_vendors_path
  .list-group-item.lotteries
    = link_to raw(fa_icon("fw users")) + "彩票管理", staff_lotteries_path
  .list-group-item.staffs
    = link_to raw(fa_icon("fw users")) + "人员管理", staff_staffs_path
  .list-group-item.setting
    = link_to raw(fa_icon("wrench fw")) +"个人设置", i_want_change_pass_staff_staffs_path


:javascript
  $(".#{@active_nav_item}").addClass("sidebar_item_active")
