.list-group
  .list-group-item.staff
    = link_to raw(fa_icon("fw bank")) + "我的面板", staff_path
  .list-group-item.parks
    = link_to raw(fa_icon("fw building-o")) + "车场列表", staff_parks_path
  .list-group-item.imports
    = link_to raw(fa_icon("fw database")) + "数据导入", staff_imports_path
  .list-group-item.setting
    = link_to raw(fa_icon("wrench fw")) +"个人设置", staff_path


:javascript
  $(".#{@active_nav_item}").addClass("sidebar_item_active")
