.container-fluid
  .row-fluid
    .lb_form.col-md-10.col-md-offset-1.form
      .form_content
        .form-group

  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th ID
          %th 车场
          %th 电话
          %th 微信
          %th 注册时间
          %th 上报次数
          %th 彩票情况

        %tbody
          - @vendors.each do |p|
            %tr
              %td= p.id
              %td
                - if p.park
                  = p.park.try(:name)
                - else
                  = link_to "绑定", new_staff_users_park_path(:user_id => p.id)
              %td= p.phone
              %td
                %image{:src => p.try(:headimg).try(:thumb).try(:url)}
                = p.nickname
                (
                = p.openid
                )
              %td= p.created_at.to_s(:lb_cn_normal)
              %td
                = p.park_statuses.count
                - if p.park_statuses.present?
                  (
                  = p.park_statuses.last.created_at.to_s(:lb_cn_normal)
                  )
              %td= p.lotteries.count
