%fieldset
  = form_tag client_login_path, :class => "form-horizontal", :role => "form", :id => "client_login_form" do
    %fieldset
      .form-group
        %label{:for=>"login_field", :class => "col-md-2 control-label"} 登陆名
        .col-md-10
          = text_field_tag "user[login]", "", :class => "form-control", :id => "login_field"
          %span.help-block Email/手机/登陆名

      .form-group
        %label{:for=>"password", :class => "col-md-2 control-label"} 密码
        .col-md-10
          = password_field_tag "user[password]", "", :class => "form-control", :id => "password_field"
          %span.help-block 这里输入您的密码

      .form-group
        %label{:for=>"capcha", :class => "col-md-2 control-label"} 验证码
        .col-md-6
          = text_field_tag "user[captcha]", "", :class => "form-control", :id => "captcha_field"
          %span.help-block 请输入图片中的四位字母和数字
        .col-md-4
          = captcha_tag :id => "captcha"

      .form-group
        .col-md-2
        .col-md-10
          = submit_tag "登陆", :class => "btn btn-primary", :id => "submit_button", :onclick => "javascript:$('#client_login_form').submit()"
          登陆出现问题拨打电话
          = Settings.four_zero_zero
