.user_coupon_tpl_show_page
  .user_nav_bar
    = link_to raw("<span> </span> 返回"), mobile_coupons_path
  = form_tag claim_pay_mobile_coupons_path, :id => "coupon_form"  do
    = hidden_field_tag "tpl_id", @coupon_tpl.id
    .user_coupon_tpl_show_banner
      %img#user_coupon_tpl_show_banner{:src => @coupon_tpl.banner.thumb.url || "#{asset_path('user_coupon_banner.jpg')}"}

    .user_coupon_tpl_one_sentence_notice
      = @coupon_tpl.notice

    - if !@coupon_tpl.can_be_claimed_by?(current_user)
      .user_coupon_tpl_input
        - if coupon = @coupon_tpl.user_claimed(current_user)
          %p 【已收到券】
          = link_to "查看停车券", coupon_show_mobile_coupon_path(coupon), :class => "user_coupon_tpl_show_click_area_a_link"
        - else
          %p 客官，去别处看看呗，都让别人抢走了。


    - else
      - if @coupon_tpl.monthly?
        :javascript
          var has_form = true;

        .user_coupon_tpl_input
          = text_field_tag "coupon[issued_begin_date]", "", :placeholder => "请选择包月起点", :id => "date", :class => "coupon_issued_begin_date_input"
        .user_coupon_tpl_input
          = text_field_tag "coupon[issued_address]", "", :placeholder => "请输入配送地址", :class => "coupon_issued_address_input"
        .user_coupon_tpl_input
          = hidden_field_tag "coupon[quantity]", 1, :id => "coupon_quantity"
          - [1, 3, 6, 12].each_with_index do |m, i|
            .user_coupon_tpl_show_quantity_selector{"data-price" => m * @coupon_tpl.price, "data-quantity" => m, "class" => i.zero? ? "user_coupon_tpl_show_quantity_selector_active" : ""}
              %span= "x #{m}"
          .clearfix

      - else
        .user_coupon_tpl_show_notice
          - if @coupon_tpl.free?
            %p 1、每日抢到的免费券，在出场时刷券使用。
            %p 2、如停放时间超过一整日，则出示该券无效。
            %p 3、本券限领取当日使用，过期无效。
          - elsif @coupon_tpl.deduct?
            %p 1、每日抢到的减免券，在出场时刷券使用。
            %p 2、只要停车费超过指定金额，即可减免。
            %p 3、本券限领取当日使用，过期无效。
          - elsif @coupon_tpl.time?
            %p 1、计次券手机支付之后，出场时直接使用。
            %p 2、请在规定时间内使用，否则刷码无效。
            %p 3、本券可重复领取，连续使用。

      .user_coupon_tpl_show_claim_btn
        .user_coupon_tpl_show_claim_btn_price
          ￥
          %span#user_coupon_tpl_show_claim_btn_price= @coupon_tpl.price || 0
        %button{:type => "submit", :disabled => !@coupon_tpl.has_enough_coupon?}
          抢券
          .user_coupon_tpl_show_claim_btn_count
            (
            %span
              #{ @coupon_tpl.claimable_count }
            \/
            #{@coupon_tpl.quantity}
            )



= javascript_include_tag "mobile_coupon_tpl_show"
- if @coupon_tpl.monthly?
  = javascript_include_tag "custom_mobiscroll"
  = stylesheet_link_tag "custom_mobiscroll"
  :javascript
    var currYear = (new Date()).getFullYear();
    var optDate = {
      defaultValue: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
      preset: 'date', //日期
      theme: $.mobiscroll.defaults.theme, //皮肤样式
      display: 'modal', //显示方式
      mode: 'scroller', //日期选择模式
      lang:'zh',
      showNow: true,
      nowText: "今",
      startYear:currYear, //开始年份
      endYear:currYear + 1 //结束年份
     };

    $(document).ready(function(){
     $("#date").mobiscroll(optDate);
    });
