.user_coupon_tpl_show_page
  .user_nav_bar
    = link_to raw("<span> </span> 返回"), mobile_coupons_path(:anchor => "owned")
  = form_tag claim_mobile_coupon_path(@coupon_tpl), :id => "coupon_form"  do
    .user_coupon_tpl_show_banner
      %image#user_coupon_tpl_show_banner{:src => @coupon_tpl.banner.thumb.url || "#{asset_path('user_coupon_banner.jpg')}"}
    .user_coupon_tpl_show_notice
      - if @coupon_tpl.free?
        %p
          %strong
            使用说明:
        %p 1、每日抢到的免费券，在出场时刷券使用。
        %p 2、如停放时间超过一整日，则出示该券无效。
        %p
          3、本券限
          %span
            #{@coupon_tpl.fit_for_date.to_time.to_zh_m_d}
          使用，过期或提前无效。
      - if @coupon_tpl.monthly? || @coupon_tpl.quarterly?
        %p= @coupon_tpl.notice

    - if @coupon_tpl.quarterly? && !@coupon_tpl.claimed_by_user?(current_user)
      :javascript
        var has_form = true;
      .user_coupon_tpl_input
        = @coupon_tpl.notice

      .user_coupon_tpl_input
        = text_field_tag "coupon[issued_begin_date]", "", :placeholder => "请选择包季起点", :id => "date", :class => "coupon_issued_begin_date_input"
      .user_coupon_tpl_input
        = text_field_tag "coupon[issued_address]", "", :placeholder => "请输入配送地址", :class => "coupon_issued_address_input"

    - if @coupon_tpl.monthly? && !@coupon_tpl.claimed_by_user?(current_user)
      :javascript
        var has_form = true;
      .user_coupon_tpl_input
        = @coupon_tpl.notice

      .user_coupon_tpl_input
        = text_field_tag "coupon[issued_begin_date]", "", :placeholder => "请选择包月起点", :id => "date", :class => "coupon_issued_begin_date_input"
      .user_coupon_tpl_input
        = text_field_tag "coupon[issued_address]", "", :placeholder => "请输入配送地址", :class => "coupon_issued_address_input"

    .user_coupon_tpl_show_click_area
      - if @coupon_tpl.claimed_by_user?(current_user)
        - coupon = @coupon_tpl.user_claimed(current_user)
        %p 【已收到券】
        = link_to "查看停车券", coupon_show_mobile_coupon_path(coupon), :class => "user_coupon_tpl_show_click_area_a_link"
      - elsif !@coupon_tpl.has_enough_coupon?
        %button.user_coupon_tpl_show_click_area_bg{:disabled => true, :type => "submit"}
          .user_coupon_tpl_show_click_area_content
            .user_coupon_tpl_show_click_area_text
              抢券
            .user_coupon_tpl_show_click_area_count
              #{ @coupon_tpl.claimable_count }/#{@coupon_tpl.quantity}
      - else
        %button{:class => @coupon_tpl.free? ? "user_coupon_tpl_show_click_area_bg_active" : "user_coupon_tpl_show_click_area_bg_active_long_term", :type => "submit"}
          .user_coupon_tpl_show_click_area_content
            .user_coupon_tpl_show_click_area_text
              抢券
            .user_coupon_tpl_show_click_area_count
              %span
                #{ @coupon_tpl.claimable_count }
              \/
              #{@coupon_tpl.quantity}



= javascript_include_tag "mobile_coupon_tpl_show"
- if @coupon_tpl.monthly? || @coupon_tpl.quarterly?
  = javascript_include_tag "custom_mobiscroll"
  = stylesheet_link_tag "custom_mobiscroll"
  :javascript
    var currYear = (new Date()).getFullYear();
    var optDate = {
      preset: 'date', //日期
      theme: $.mobiscroll.defaults.theme, //皮肤样式
      display: 'modal', //显示方式
      mode: 'scroller', //日期选择模式
      lang:'zh',
      showNow: true,
      nowText: "今",
      startYear:currYear, //开始年份
      endYear:currYear + 1 //结束年份
     };

    $(document).ready(function(){
     $("#date").mobiscroll(optDate);
    });
