.container-fluid
  .row-fluid
    .lb_form.col-md-10.col-md-offset-1.form
      .form_content
        .form-group

  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th ID
          %th 停车场
          %th 名称
          %th 进出?
          %th 开闸？
          %th 拍照
          %th 是否是会员
          %th 

        %tbody
          - @gate_events.each do |ge|
            %tr
              %td= ge.id
              %td= ge.gate.park.name
              %td= ge.gate.name
              %td= ge.gate.is_in
              %td= ge.is_allowed
              %td= ge.paizhao
              %td



