!!!
%html{ :lang => "en" }
  %head
    %title= Settings.title
    = favicon_link_tag
    %meta{ :charset => 'utf-8' }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => 'IE=edge' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }

    = stylesheet_link_tag "client", :media => :all
    = javascript_include_tag "client"
    = csrf_meta_tags

  %body.lb_client.lb
    .container-fluid

    .wrapper
      .sidebar
        = render :partial => "widgets/client_sidebar"
      .nav-container
        = render :partial => "widgets/client_header"
        .clearfix
      .page-wraper
        = render :partial => "widgets/notice_bar"
        = yield
      .row-fluid.footer
        .container
          = render :partial => "widgets/client_footer"




