!!!
%html{ :lang => "en" }
  %head
    %title= Settings.title
    %meta{ :charset => 'utf-8' }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => 'IE=edge' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }

    = stylesheet_link_tag "dashboard", :media => :all
    = javascript_include_tag "dashboard"
    = csrf_meta_tags

  %body{"ng-app" => "dashboard", "class" => "dashboard"}
    .container-fluid
      .row-fluid
        = render :partial => "widgets/dashboard_header"

    .wrapper
      .sidebar
        = render :partial => "widgets/dashboard_sidebar"
      .page-wraper
        = render :partial => "widgets/notice_bar"
        = yield
      .row-fluid.footer
        .container
          = render :partial => "widgets/dashboard_footer"




