!!!
%html
  %head
    %title Lbpark
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=#{Settings.amap_key}" 
    = javascript_include_tag 'for_public'
    = csrf_meta_tags
  %body
    = yield
