!!!
%html
  %head
    %title= @title || "萝卜停车"
    = stylesheet_link_tag    'mobile', media: 'all'
    = javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=#{Settings.amap_key}" 
    = javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" 
    = favicon_link_tag
    = csrf_meta_tags
    %meta{:name => "keywords",    :content => Settings.keywords}
    %meta{:name => "description", :content => Settings.description}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0,maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}
    %meta{:name => "format-detection", :content => "telephone=no"}

    - if current_user
      :javascript
        var wechat = {
          timestamp: '#{@config[:timestamp]}',
          nonceStr: '#{@config[:noncestr]}',
          signature: '#{@config[:signature]}'
        };

  %body
    = yield
    - unless defined?(@no_tabs)
      #tabs
        %a{:href => "/", :onfocus=>"this.blur();"}
          %span{:class => map_nav_class("map")}
          .tab_name 附近
        %a{:href => "/mobile_coupons", :onfocus=>"this.blur();"}
          %span{:class => map_nav_class("search")}
          .tab_name 停车券
        %a{:href => "/mobile/setting", :onfocus=>"this.blur();"}
          %span{:class => map_nav_class("mine")}
          .tab_name 我
    = render :partial => "widgets/statistics" if Rails.env.production?

