!!!
%html
  %head
    %title= @title || "萝卜停车"
    = stylesheet_link_tag    'mobile', media: 'all'
    = javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=#{Settings.amap_key}" 
    = csrf_meta_tags
    %meta{:name => "keywords",    :content => Settings.keywords}
    %meta{:name => "description", :content => Settings.description}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0;", :name => "viewport"}
  %body
    = yield
    #tabs
      %a{:class => map_nav_class("home"), :href => "/"}
        %span 附近
      %a{:class => map_nav_class("order"), :href => "/mobile/hot_place"}
        %span 搜索
      %a{:class => map_nav_class("card"), :href => "/mobile/setting"}
        %span 我的
